<h1>List</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                左侧导航条
            </a>
            <a href="javascript:" ui-sref="list.con1" class="list-group-item">内容1</a>
            <a href="javascript:" ui-sref="list.con2" class="list-group-item">内容2</a>
            <a href="javascript:" ui-sref="list.con3" class="list-group-item">内容3</a>
            <a href="javascript:" ui-sref="list.con4" class="list-group-item">内容4</a>
        </div>
    </div>
    <div class="col-md-8">
        <div ui-view></div>
    </div>
</div>