<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>自定义指令(scope =)</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular-1.3.0.js"></script>
    <script>
        var myApp = angular.module('myApp',[]);

        myApp.controller('myCtrl',function($scope){
            $scope.xiaoming = '小明';
        });

        myApp.directive('hello',function(){
           return {
               restrict : 'E',
               template : '<input type="text" class="form-control" ng-model="person">',
               scope : {
                   person : '='
               },
               link : function(s,e,a){
                   console.log(s.person);               //拿到控制器里的‘小明’
                   console.log(a.xiaoming);             //拿到person的属性值‘xiaoming’
               }
           }
        });

    </script>
</head>
<body style="padding: 60px;">
<div ng-controller="myCtrl">
    <div>Controller:</div>
    <input type="text" class="form-control" ng-model="xiaoming">
    <hr>
    <div>Directive:</div>
    <hello person="xiaoming"></hello>
</div>
</body>
</html>
